{% extends "parent.html" %}
{% from "_auth.html" import login, login_button, auth_styles, login_script, signup_script, signup with context %}
{% block title %}{{ title }}{% endblock %}
{% block extrahead %}{{auth_styles()}}{% endblock %}
{% block content %}
<div class="profile" style="position: absolute; top: 0; right: 0; margin-top: 10px; margin-right: 10px;">
    {% if not logged_in %}
    {{login_button("btn-outline-pastel-green")}}
    {{login(login_form)}}
    {{signup(signup_form)}}
    {% else %}
    <a href="/logout">{{ current_user.username }}</a>
    {% endif %}
</div>
<div class="header">
    <h1>Sew Molly</h1>
</div>
<div class="nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
    </ul>
</div>
<div class="info">
    <h3>About Me</h3>
    <p>This is some example text that has no real meaning but is instead being used as a placeholder in this space.</p>
</div>
<div class="gallery">
    Images gallery here.
</div>
<footer>
    <div class="socials">
        <p>Instagram: @TheSewMolly</p>
    </div>
</footer>
{% endblock %}
{% block extrascript %}
{{ login_script(login_form, show_login) }}
{{ signup_script(signup_form, show_signup) }}
{% endblock %}